<section id="contacts">
  <h2 class="font-medium text-3xl">You can reach me with:</h2>
  <div
    class="flex flex-wrap justify-center text-secondary-dark-color max-w-sm md:max-w-lg mx-auto my-5"
  >
    <a
      href="https://instagram.com/{{ contactsInfo.instagram }}"
      rel="noreferrer"
      target="_blank"
      aria-label="Instagram"
      class="hover:text-main-dark-color hover:scale-110 dark:hover:text-main-light-color transition-all ease-in mx-4 my-2"
      ><fa-icon [icon]="instagram" size="3x"></fa-icon
    ></a>
    <a
      href="https://www.youtube.com/{{ contactsInfo.youtube }}"
      rel="noreferrer"
      target="_blank"
      aria-label="YouTube"
      class="hover:text-main-dark-color hover:scale-110 dark:hover:text-main-light-color transition-all ease-in mx-4 my-2"
      ><fa-icon [icon]="youtube" size="3x"></fa-icon
    ></a>
    <a
      href="https://www.tiktok.com/{{ contactsInfo.tiktok }}"
      rel="noreferrer"
      target="_blank"
      aria-label="TikTok"
      class="hover:text-main-dark-color hover:scale-110 dark:hover:text-main-light-color transition-all ease-in mx-4 my-2"
    >
      <fa-icon [icon]="tiktok" size="3x"></fa-icon
    ></a>
    <a
      href="{{ contactsInfo.linkedinURL }}"
      rel="noreferrer"
      target="_blank"
      aria-label="LinkedIn"
      class="hover:text-main-dark-color hover:scale-110 dark:hover:text-main-light-color transition-all ease-in mx-4 my-2"
      ><fa-icon [icon]="linkedin" size="3x"></fa-icon
    ></a>
    <a
      href="https://github.com/{{ contactsInfo.github }}"
      rel="noreferrer"
      target="_blank"
      aria-label="GitHub"
      class="hover:text-main-dark-color hover:scale-110 dark:hover:text-main-light-color transition-all ease-in mx-4 my-2"
      ><fa-icon [icon]="github" size="3x"></fa-icon
    ></a>
    <a
      href="https://gitlab.com/{{ contactsInfo.gitlab }}"
      rel="noreferrer"
      target="_blank"
      aria-label="GitLab"
      class="hover:text-main-dark-color hover:scale-110 dark:hover:text-main-light-color transition-all ease-in mx-4 my-2"
      ><fa-icon [icon]="gitlab" size="3x"></fa-icon
    ></a>
  </div>
</section>
