<footer class="mt-5">
  <p>
    Made with ❤,
    <a
      href="https://tailwindcss.com/"
      class="text-secondary-dark-color font-bold hover:text-white"
      rel="noreferrer"
      target="_blank"
      aria-label="Tailwind CSS"
    >
      Tailwind</a
    >,
    <a
      href="https://angular.io/"
      class="text-secondary-dark-color font-bold hover:text-white"
      rel="noreferrer"
      target="_blank"
      aria-label="Angular"
    >
      Angular</a
    >, &
    <a
      href="https://scully.io/"
      class="text-secondary-dark-color font-bold hover:text-white"
      rel="noreferrer"
      target="_blank"
      aria-label="Scully"
    >
      Scully</a
    >, Hosted in
    <a
      href="https://vercel.com/"
      class="text-secondary-dark-color font-bold hover:text-white"
      rel="noreferrer"
      target="_blank"
      aria-label="Vercel"
    >
      Vercel</a
    >, Source available on
    <a
      href="https://github.com/akbar2habibullah/chavyv-xyz-angular"
      class="text-secondary-dark-color font-bold hover:text-white"
      rel="noreferrer"
      target="_blank"
      aria-label="GitHub"
    >
      GitHub
    </a>
    <br />
    Copyright &copy; {{ year }} Chavyv Akvar. All Rights Reserved
  </p>
</footer>
