<header class="md:flex items-center justify-between mt-12 mb-8">
  <a
    href="https://linktr.ee/chavyv.akvar"
    aria-label="Linktree"
    target="_blank"
    rel="noreferrer"
    ><h1 class="mb-2 md:mb-0 font-medium text-3xl">Chavyv.Akvar</h1></a
  >
  <nav
    class="py-1 px-0 space-x-4 font-bold justify-center text-secondary-dark-color"
  >
    <a
      class="py-1 px-0 hover:border-b-4 border-secondary-light-color transition-all ease-in"
      href="/#timeline"
      aria-label="Timeline"
    >
      Timeline
    </a>
    <a
      class="py-1 px-0 hover:border-b-4 border-secondary-light-color transition-all ease-in"
      href="/#projects"
      aria-label="Projects"
    >
      Projects
    </a>
    <a
      class="py-1 px-0 hover:border-b-4 border-secondary-light-color transition-all ease-in"
      href="/#contacts"
      aria-label="Contacts"
    >
      Contacts
    </a>
    <a
      class="py-1 px-0 hover:border-b-4 border-secondary-light-color transition-all ease-in"
      href="https://chavyv-blog.vercel.app/"
      aria-label="Chavyv Blog"
      target="_blank"
      rel="noreferrer"
    >
      <fa-icon [icon]="icon"></fa-icon>
    </a>
  </nav>
</header>
