<header class="md:flex items-center justify-between mb-8">
  <h1 class="mb-2 md:mb-0 font-medium text-3xl">Chavyv.Akvar</h1>
  <nav
    class="py-1 px-0 space-x-4 font-bold justify-center text-secondary-dark-color"
  >
    <a
      class="py-1 px-0 hover:border-b-4 border-secondary-light-color transition-all ease-in"
      href="/#timeline"
    >
      Timeline
    </a>
    <a
      class="py-1 px-0 hover:border-b-4 border-secondary-light-color transition-all ease-in"
      href="/#projects"
    >
      Projects
    </a>
    <a
      class="py-1 px-0 hover:border-b-4 border-secondary-light-color transition-all ease-in"
      href="/#contacts"
    >
      Contacts
    </a>
    <a
      class="py-1 px-0 hover:border-b-4 border-secondary-light-color transition-all ease-in"
      href="https://blog.chavyv.xyz/"
      target="_blank"
      rel="noreferrer"
    >
      <fa-icon [icon]="icon"></fa-icon>
    </a>
  </nav>
</header>
