<section id="home" class="my-32 md:my-36 lg:my-40">
  <p class="font-light text-xl md:text-2xl">A unique blend of</p>
  <h2
    class="text-4xl max-w-sm md:max-w-xl lg:max-w-2xl mx-auto font-bold md:text-5xl mb-10 mt-3"
  >
    Egocentric, Introspective, and Inquisitive Individuals
  </h2>
  <a
    href="/#resume"
    class="px-5 py-3 font-bold text-xl rounded text-main-light-color dark:text-dark-charcoal bg-secondary-dark-color hover:text-secondary-dark-color dark:hover:text-secondary-dark-color hover:bg-transparent transition-all ease-in"
  >
    About Me
  </a>
</section>
