<body [ngClass]="{ dark: isDarkEnabled }" class="text-center w-screen">
  <main
    class="h-full w-full text-main-dark-color bg-main-light-color dark:text-main-light-color dark:bg-dark-charcoal transition-all ease-in duration-200"
  >
    <app-top-line></app-top-line>
    <div class="max-w-2xl flex flex-col p-4 mx-auto">
      <app-dark-mode-toggler
        (toggleDarkModeEvent)="toggleDarkMode()"
        [isDarkEnabled]="isDarkEnabled"
      ></app-dark-mode-toggler>
      <app-header></app-header>
      <app-cover></app-cover>
      <div *ngIf="data">
        <app-resume
          [introduction]="data.resume.introduction.html"
          [resumeLink]="data.resume.resumeLink"
          [image]="data.resume.profilePic.url"
        ></app-resume>
        <app-skills [skills]="data.skills"></app-skills>
        <app-timelines [timelines]="data.timelines"></app-timelines>
        <app-projects [projects]="data.portos"></app-projects>
      </div>
      <app-contacts></app-contacts>
      <app-footer></app-footer>
    </div>
  </main>
</body>
