<div
  id="resume"
  class="flex flex-col items-center space-y-5 px-4 py-8 md:px-12 md:py-16 mb-10 bg-[#e9ecef] dark:bg-dark-shade-gray rounded-lg dark:text-white"
>
  <div class="container-iframe">
    <iframe
      class="responsive-iframe"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/ssKgjqJsZKw"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <h2 class="font-light text-7xl">
    Hello, my name is
    <span class="text-secondary-dark-color bg:black text-medium">Habib</span
    >ullah Akbar!
  </h2>
  <h3 class="font-medium text-3xl">
    but you can call me
    <span class="text-secondary-dark-color bg:black">Habib</span>
  </h3>
  <div
    [innerHTML]="introduction"
    class="[&>p>strong]:text-secondary-dark-color [&>p>strong]:font-medium [&>p>strong]:bg-black space-y-4"
  ></div>
  <a
    href="{{ resumeLink }}"
    rel="noreferrer"
    target="_blank"
    class="px-3 py-1.5 font-medium text-base rounded hover:scale-110 text-main-light-color dark:text-dark-charcoal bg-secondary-dark-color hover:text-secondary-dark-color dark:hover:text-secondary-dark-color hover:bg-transparent transition-all ease-in"
    >> Get my Resume</a
  >
</div>
